.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.bg-dark {
  background: #141518;
  color: #ffff;
}

.primary-title {
  font-size: 3rem;
  color: #ff424d;
  line-height: 2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: arial, helvetica, sans-serif;
  background: #ffff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .container {
  width: 97%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

header .container nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  position: relative;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5px;
}

header .container .sub {
  position: absolute;
  top: 40px;
  z-index: 100;
  background: #ffff;
  padding: 10px;
  width: 70%;
}

header .container .sub p {
  padding: 10px 0;
  line-height: 1.25rem;
}

header .container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  z-index: 100;
}

header .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header #search {
  padding: 15px 0;
  border-radius: 50px;
  background: #ebe3e3;
  border: none;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.25rem;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  width: 18vw;
  z-index: 99;
}

.btn {
  padding: 10px;
  border-radius: 50px;
  text-align: center;
}

.primary-btn {
  background: #ff424d;
  color: #ffff;
  border: none;
}

/*dropdown settings*/
.menu-bar {
  display: none;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
}

#check, #prod, #reso, #crt {
  display: none;
}

.sub {
  display: none;
}

label {
  text-align: center;
}

label:hover {
  cursor: pointer;
}

#prod:checked ~ .sub.prod-sub,
#crt:checked ~ .sub.create-sub,
#reso:checked ~ .sub.resource-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.showcase {
  height: 90vh;
}

.showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: auto;
}

.showcase img {
  max-width: 100%;
  max-height: 100%;
}

.showcase .img, .showcase .showcase-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 568px;
          flex: 0 1 568px;
}

.showcase-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.showcase h1 {
  font-size: 3.5rem;
  color: #ff424d;
  line-height: 4rem;
}

.showcase p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.showcase .btn.primary-btn {
  font-size: 1.25rem;
}

.about {
  background: #ffff;
  padding: 4rem 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about .container {
  max-width: 1152px;
  margin: auto;
}

.about h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 1rem 3rem 1rem;
}

.about #search-2 {
  width: 80%;
  padding: 15px 0;
  border-radius: 50px;
  background: #ebe3e3;
  border: none;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.25rem;
}

.about .btn.primary-btn {
  width: 15%;
  margin-left: 20px;
  font-size: 20px;
}

.mid-sec .container {
  max-width: 1152px;
  margin: auto;
}

.mid-sec h2 {
  font-size: 3rem;
  text-align: center;
}

.mid-sec p {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  max-width: 1152px;
  margin: auto;
  gap: 30px;
}

.gallery .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 20px;
}

.gallery .gallery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 30px;
  gap: 30px;
}

.gallery .gallery-text.second {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gallery h2 {
  line-height: 3rem;
}

.gallery p {
  line-height: 2rem;
  font-size: 1.5rem;
}

.gallery .img-container {
  width: 50%;
}

.gallery img {
  width: 100%;
  min-height: 50%;
  margin-bottom: 20px;
}

.gallery .img-title a:hover {
  border-bottom: 2px #ff424d solid;
}

.gallery .img-title p {
  display: inline-block;
  padding-right: 10px;
}

@media (max-width: 1024px) {
  header .container {
    padding-top: 1rem;
    -ms-grid-rows: 8vh 1fr;
        grid-template-rows: 8vh 1fr;
  }
  header .container #search {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    z-index: 1;
    width: 100%;
  }
  header .container .nav-right {
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  header .container .menu-bar {
    display: inline-block;
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 10px;
  }
  header .container nav {
    display: none;
    position: relative;
    top: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    left: 0px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/12;
  }
  header .container nav ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 40px;
    align-items: flex-start;
  }
  header .container #search {
    margin-top: 1rem;
  }
  nav ul li {
    width: 100vw;
  }
  .sub.sub.prod-sub {
    position: relative;
  }
  .sub.sub.create-sub {
    position: relative;
  }
  .sub.sub.resource-sub {
    position: relative;
  }
  .nav-right, .logo, .menu-bar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #check:checked ~ nav {
    display: block;
  }
  .sub a {
    border-bottom: 2px solid grey;
    padding: 10px 0;
  }
  .sub a:hover {
    opacity: 0.6;
  }
}

@media (max-width: 768px) {
  .showcase {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .showcase .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .showcase .img, .showcase .showcase-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: auto;
  }
  .showcase-text {
    padding-top: 10vh;
    padding-left: 5vw;
  }
  .about #search-2, .about .btn {
    width: 100%;
    margin: 10px auto;
  }
  .about .btn {
    margin: 5px auto;
  }
}
