$primarycolor:#ff424d;
$secondarycolor:#fafbfc;
$lightcolor:#ffff;
$darkcolor:#141518;
$fontroot:arial,helvetica,sans-serif;
$backgroundcolor:(#fff,#ff424d,#141518);
$spaceamounts: (1,2,3,4,5);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin:#{$space}rem;}
  .my-#{$space} {
      margin:#{$space}rem 0;}
  .mx-#{$space} { 
    margin:0 #{$space}rem;}
  .p-#{$space} {
    padding:#{$space}rem;
  }
  .py-#{$space} {
    padding:#{$space}rem 0;
  }
  .px-#{$space} {
    padding:0 #{$space}rem;
  }
  }
  .bg-dark {
    background: $darkcolor;
    color: $lightcolor;
  }
  @mixin flexcolumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    
  }
  @mixin flexrow($direction,$just,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $just;
    align-items:$align;
    
  }
  @mixin searchbar {
      padding: 8px;
      border-radius: 50px;
      background: rgb(235, 227, 227);
      border:none;
      text-align:center;
      height: fit-content;
  }
 