@import "./config";

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: $fontroot;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color:inherit
  }
}

header {
  font-family: $fontroot;
  background:$lightcolor;
  width:100%;
  height: fit-content;
  .container {
    width:97%;
    height: fit-content;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    .logo {
      grid-column: 1/2;
    }
    nav {
      height: fit-content;
      width:100%;
      justify-content: center;
      grid-column:2/7;
      position: relative;
    }
    nav ul {display: flex;
    }
    nav ul li {
      flex-shrink: 0;
      padding: 5px;
    }
    .sub{
      
      position: absolute;
      top:40px;
      z-index:100;
      background: $lightcolor;
      padding:10px;
      width:70%;
    }
    .sub p {
      padding:10px 0;
      line-height: 1.25rem;
    }
    .nav-right {
      display: flex;
      justify-content: flex-end;
      grid-column: 10/13;
      z-index:100;
      }
    }
    .btn{flex-shrink: 0;}
    #search{
      @include searchbar;
      grid-column: 8/10;
      width:18vw;
      z-index:99;
    }
  }
  .btn {
    padding:10px;
     border-radius: 50px;
     text-align: center;
    }
   .primary-btn {
     background: $primarycolor;
     color:$lightcolor;
     border: none;
   }

/*dropdown settings*/
.menu-bar {display:none;
grid-column:12/13}
#check,#prod,#reso,#crt {display:none;}
.sub{
  display: none;
}
label{
  text-align: center;
}
label:hover{
  cursor: pointer;
}

#prod:checked ~ .sub.prod-sub,
#crt:checked ~ .sub.create-sub,
#reso:checked ~ .sub.resource-sub {
  display:flex;
  flex-direction: column;
  gap:10px;
}
.showcase {
  height:90vh;
  .container {
    @include flexrow(row,center,center);
    height:100%;
    margin: auto;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  .img {
    flex:0 1 568px;
  }
  &-text {
    @include flexcolumn;
    @extend .img;
  }
  h1 {
    font-size: 3.5rem;
    color:$primarycolor;
    line-height: 4rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .btn.primary-btn {
    font-size: 1.25rem;
  }
}


.about{
  background: $lightcolor;
  padding:4rem 2rem;
  height:fit-content;
  .container{
    max-width: 1152px;
    margin: auto;
  }
  h1 { font-size: 2.5rem;
    text-align: center;
    margin:1rem 1rem 3rem 1rem;
  }
  #search-2 {
 width:80%;
 @include searchbar;
  }
  .btn.primary-btn{
    width:15%;
    margin-left: 20px;
  font-size: 20px;
  }
}
.mid-sec  {
  .container {
    max-width: 1152px;
      margin: auto;

  }
  h2 {
 
   font-size:3rem;
  text-align: center;

  }
  p{
  line-height: 1.5rem;
  font-size: 1.5rem;
  }
}
.gallery{
  .container {
    @include flexrow(column,space-between,space-between);
    max-width: 1152px;
    margin: auto;
    
    gap:30px; 
  }
  .img-box {
    @include flexrow(row,space-between,space-between);
    gap:20px;
  }
  .gallery-text {
   @include flexrow(column,space-evenly,center);
   width:50%;
   padding:0 30px 30px 30px;
   gap:30px;
   
  }
  .gallery-text.second{order: 1;}
  h2 {height: 50%;
      line-height: 3rem;
  }
  p {
   line-height: 2rem;
   font-size: 1.5rem;
   height: 50%;
  }
  .img-container {
    width: 50%;
    
  }
  img{
    width: 100%;
    min-height: 50%;
    margin-bottom:20px;
  }
  .img-title {
    a:hover{
      border-bottom: 2px $primarycolor solid;
    } 
    p {
      display: inline-block;
      padding-right: 10px;
    }  
}

}
.mid-section1 {
  margin-top: 2rem;
  
  .container {
  width:90%;
  margin: auto;
  @include flexrow(column,space-between,center)
  
}
.text{
  text-align: center;
}
h2{
  font-size : 2.5rem;
}
p {
  font-size:1.3rem;
  width:80%;
  line-height: 3rem;
  margin:0 auto 2rem auto;
}
.links {
  @include flexrow(row,space-between,center);
  gap:40px;
}
.image{
  width:100%;
} 
img{
width:100%;
}
ul{
  
  flex: 0;
}
li{padding:10px;
font-size: 1.5rem;}

a{
  opacity: 0.6;
  font-weight: bold;
}
a:hover{
  opacity:1;
  text-decoration: underline;
}
}
.mid-section2 {
  margin:40px 0;
  .container {
    width:90%;
    margin: auto;
    @include flexrow(column,space-between,center)
    
  }
  .text{
    text-align: center;
  }
  h2{
    font-size : 3rem;
  }
  p {
    font-size:1.3rem;
    line-height: 3rem;
    margin:1rem auto 3rem auto;
  }
  img{
    width: 100%;
  }
  .image{
    width:90%;
  }
}




@media (max-width:1024px) {
 
 header{
  .container {
    padding-top:1rem ;
      grid-template-rows: 8vh 1fr;
    #search{
      grid-column: 1/13;
      grid-row: 2/3;
      z-index: 1;
      width:100%; 
    }
    .nav-right {
      grid-column: 8/12;
      grid-row: 1/2;
    }
    .menu-bar {
      display: inline-block;
      grid-column: 12/13;
      grid-row: 1/2;
      padding:10px
    }
  
  nav {
    display: none;
    position: relative;
    top:20px;
    align-self: flex-start;
   left:0px;
   grid-column: 1/12;
  
  }
  nav ul {
    position: relative;
    @include flexcolumn;
   gap:40px;
   align-items:flex-start ; 
   
  }
#search {
  margin-top:1rem;
}
}
 }
  nav ul li {width:100vw;}
  .sub.sub.prod-sub
   {
    position: relative;
  }
  .sub.sub.create-sub {
    position: relative;
  }
  .sub.sub.resource-sub {
    position: relative;
  }
  .nav-right,.logo,.menu-bar {
    grid-row:1/2;
  }
  #check:checked ~ nav {
    display:block;
  }
  .sub a {
    border-bottom: 2px solid grey;
    padding:10px 0;
  }
  .sub a:hover {
    opacity: 0.6;
  }
  .about {
    .btn.primary-btn{
      width:fit-content;}
  }
}

@media (max-width:768px) {
  .showcase{
    height: fit-content;
    .container {
    @include flexrow(column,space-between,center); 
  }
  
  .img {
    flex: 0 0 50%;
    padding:auto;
 }
 &-text {
   padding-top:10vh ;
   padding-left: 5vw;
 }
}
.about{
  #search-2,.btn {
    width:100%;
    margin: 10px auto;
  }
  .btn {
    margin: 5px auto;
  }
}


.gallery{
.img-box{
  @include flexrow(column,space-between,center);
  margin-bottom:20px;
}
.gallery-text{width:100%;
padding:0 0 20px 0;}
.img-container {
  width:100%;
}
.gallery-text.second{order: 0;}
}
.mid-section1{
  
   .links {
    @include flexrow(column,space-between,center);}
    ul{text-align: 0;}
    ul{text-align: center;
    }
  li {
    display:inline-block;
    font-size: 1.2rem;
    margin:5px 0;
  }
  .image{order:1;
  margin-bottom: 5rem;}
}

}